@using SwimomaticMVC.Models;
@model ViewPoolConfig
@{ViewPoolConfig vpc = ViewBag.PoolConfig;}
<fieldset>
    <h5>
        Setup Details</h5>
    <div class="input-form">
        @Html.ValidationSummary()
        @using (Ajax.BeginForm("SavePoolConfig", new AjaxOptions { UpdateTargetId = "PoolConfigs", OnSuccess = "SavePoolConfigSuccess" }))
        {
            <div>
                @Html.HiddenFor(m => m.LocationID, new { @Value = vpc.LocationID })
                @Html.HiddenFor(m => m.PoolConfigID, new { @Value = vpc.PoolConfigID })
                @Html.HiddenFor(m => m.PoolID, new { @Value = vpc.PoolID })
                <label>
                    Setup Description</label>
            </div>
            <div>
                @Html.TextBoxFor(m => m.Description, new { @Value = vpc.Description })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div id="majorUOM">
                @if (vpc.UOMID == 1)
                {
                    <label>@("Meters")</label>
                }
                else
                {
                    <label>@("Yards")</label>
                }
            </div>
            <div>
                @Html.TextBoxFor(m => m.LengthMajor, new { @Value = vpc.LengthMajor })
                @Html.DropDownListFor(m => m.UOMID, vpc.UOMs, new { @Value = vpc.UOMID, @onchange = "javascript:SetUOMMinor();" })
                @Html.ValidationMessageFor(m => m.LaneLength)
            </div>
            <div id="minorUOM">
                @if (vpc.UOMID == 1)
                {
                    <label>@("Centimeters")</label>
                }
                else
                {
                    <label>@("Inches")</label>
                }
            </div>
            <div>
                @Html.TextBoxFor(m => m.LengthMinor, new { @Value = vpc.LengthMinor })
                @Html.ValidationMessageFor(m => m.LengthMinor)
            </div>
            <div>
                <label>
                    Lanes</label>
            </div>
            <div>
                @Html.TextBoxFor(m => m.LaneCount, new { @Value = vpc.LaneCount })
                @Html.ValidationMessageFor(m => m.LaneCount)
            </div>
            <div>
                <input type="submit" id="btnSave" name="btnSave" value="Save" class="button" />
                <input type="button" id="btnCancel" name="btnCancel" value="Cancel" class="button"
                    onclick="javascript:$('#PoolConfig').hide();" />
            </div>
        }
    </div>
</fieldset>
