@using SwimomaticMVC.Models;
@model int
@{
    Layout = null;
    ViewBag.Title = "Heat Sheets";
}
@using Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="Description of your web page goes here." />
    <meta name="keywords" content="swimomatic,swim meet,heat sheet,web based,free,online." />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" media="interactive, braille, emboss, handheld, projection, screen, tty, tv" />
    <link href="@Url.Content("~/Content/jquery-ui-1.8.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ExControl.js")" type="text/javascript"></script>
    <script type="text/javascript">
        function ShowHeatSheetEvents(HeatSheetID) {
            LoadTag("#HeatSheetEvents", "/HeatSheet/HeatSheetEvents?HeatSheetID=" + HeatSheetID);
            $("#HeatSheetEvents").show();
            $("#HeatSheetList").hide();
        }

        function ShowHeatSheetEventsByUser(HeatSheetID) {
            LoadTagWithCallback('#HeatSheetEvents', '/HeatSheet/HeatSheetEventsByUser?HeatSheetID=' + HeatSheetID);
            $('#HeatSheetEvents').show();
            $('#HeatSheetList').hide();
        }

        $("#ShowHeatSheetEvents").live("click", function () {
            var heatSheetID = $(this).attr("class");
            ShowHeatSheetEvents(heatSheetID);
        });

        $("#ShowHeatSheetEventsByUser").live("click", function () {
            var heatSheetID = $(this).attr("class");
            ShowHeatSheetEventsByUser(heatSheetID);
        });
    </script>
</head>
<body>
    <div class="header-container">
        <div>
            <ul>
                <li class="first">
                    @Html.Partial("_LogOnPartial") </li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div>
        <ul>
            <li class="first"><a href="/">Home</a></li>
            <li class="first"><a href="/SwimMeet">Swim Meets</a></li>
        </ul>
    </div>
    <div id="SwimMeet">
        @Html.Action("SwimMeet", "HeatSheet", new { SwimMeetID = Model })
    </div>
    <div id="HeatSheetList">
        @Html.Action("HeatSheets", "HeatSheet", new { SwimMeetID = Model })
    </div>
    <div id="HeatSheetEvents">
    </div>
</body>
</html>
