@model SwimomaticMVC.Models.ResetPassword
@{
    ViewBag.Title = "Reset Password";
}
<h2>
    Reset Password</h2>
<p>
    Enter your User Name below to reset your password. If there is an account on file,
    you will be emailed a temporary password that you can use to update your account
    with a new password.
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <div>
                @Html.LabelFor(m => m.UserName, "User Name")
            </div>
            <div>
                @Html.TextBoxFor(m => m.UserName, new { @class = "input-box long" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <p>
                Please enter the words displayed in the image below. If they are difficult to read,
                click the refresh button and a new image will load. This security feature protects
                your data. Thanks!
            </p>
            <div>
                @ReCaptcha.GetHtml(theme: "blue")
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.Captcha)
            </p>
            <input type="submit" class="button" value="Reset Password" />
            <input id="btnCancel" type="button" class="button" value="Cancel" onclick="javascript:window.location = 'account/logon';" />
        </fieldset>
    </div>
}
